body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #f2f2f2;
}


#container {
    width: 720px;
    margin: 0 auto;
    background: #fff;
}

#marca{
    height: 100px;
    background: #9E9E9E;
    text-align: center;
    line-height: 100px;
}

#conteudo{
    width: 520px;
    float: right;
}

#navegacao{
    width: 180px;
    text-decoration: none;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;
    align-items: center;
}


#navegacao ul {
    list-style: none;
    text-decoration: none;
}

#navegacao li a {
    text-decoration: none;
}


#conteudo_principal{
    
}

#rodape{
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}



